@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Acme', sans-serif;
  min-height: 2000px;
}

#cover-image {
  position: relative;
  box-sizing: border-box;
  min-height: 15rem;
  padding-top: 17.5%;
  background: rgb(116, 97, 62);
}

#logo {
  position: sticky;
  top: -7.5rem;
  width: 15rem;
  height: 15rem;
  margin-top: -7.5rem;
  margin-left: 50%;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
  transition: margin-left 0.3s;
}

#logo.header {
  margin-left: 0;
}

#title {
  position: sticky;
  display: inline-block;
  top: 0;
  margin-top: 2.25rem;
  margin-left: 50%;
  font-size: 3.75rem;
  font-weight: 400;
  transform: translateX(-50%);
  transition: margin-left 0.3s;
}

#title.header {
  margin-left: 0;
}

#title > span {
  color: orange;
}

#download {
  position: sticky;
  display: inline-block;
  top: 0;
  margin-top: 1.75rem;
  margin-left: 50%;
  padding: 0.75rem 1.25rem;
  background: rgb(20, 120, 250);
  color: white;
  font-size: 1.125rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5) inset;
  transform: translateX(-50%);
  transition: transform 0.3s, margin-left 0.3s;
  cursor: pointer;
}

#download:hover {
  transform: translateX(-50%) scale(1.1);
}

#download.header {
  margin-left: 100%;
}

@media all and (orientation: portrait) {
  #cover-image {
    min-height: 10rem;
  }
  
  #logo {
    top: -5rem;
    width: 10rem;
    height: 10rem;
    margin-top: -5rem;
  }
}
